@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

.navbar-brand img {
  width: 40%;
}

.navList {
  color: #000;
}

.navFontSize {
  font-size: 20px;
}

.presentation {
  background-image: url(../img/Header-bg.svg) ;
  background-repeat: no-repeat;
}

.list-unstyled li::before {
  content: url(../img/icons/circle.svg);
  margin: 0 1.2rem;
}

.none {
  display: flex;
  align-items: center;
}